.about-area {
    background-color: #f7f7f7;
}
.hasan {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.about-image {
    width: 90%;
}
.about-image img {
    width:100%;
}

/* // mobile device  */

@media only screen and (max-width:480px) {
    .about-image {
        margin-top: 30px;
    }
}