.banner-area {
    background-image:url('../../images/banner3.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color:#fff;
    margin-top:70px;
    padding:100px 0;
}
.banner-image {
    width: 85%;
    border: 15px solid #fff;
    border-image: linear-gradient(#FF5733, #272DFA,#fff) 100;
}
.banner-image img {
    width:100%;
}
.banner-content h1 {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}
.banner-content h2 {
    font-size: 50px;
}
div#tsparticles {
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
}
.banner-content {
    z-index: 9;
    position: relative;
}
.share-button1 {
    font-size: 22px;
    margin-top: 12px;
    background: linear-gradient(to right, #FF5733,#272DFA);
    border:none;
    transition: .5s;
    color:#fff;
}
.share-button1:hover {
    background: linear-gradient(to right,#272DFA, #FF5732);
}
@media only screen and (max-width:480px) {
    .banner-content {
        padding-bottom: 20px;
    }
    .banner-content h1 {
        font-size: 50px;
        margin-top:20px;
        margin-bottom: 10px;
    }
    .banner-content h2 {
        font-size: 42px;
    }
    .banner-image img {
        width:100%
    }
    .banner-image {
        margin: 22px auto;
    }
    .banner-content {
        text-align: center;
    }
}